@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-medical-dark: #122056;
  --color-medical-accent: #5b65dc;
  --color-medical-secondary: #eeeffd;
  --color-medical-bg: #fafafd;
  --color-medical-white: #ffffff;
}

body {
  font-family: 'JetBrains Mono';
}

@layer base {
  body {
    @apply bg-medical-bg text-medical-dark m-0 antialiased;
  }
}